<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">
 
 <listeners>
 
 <listener class-name="com.inetbanking.utilities.Reporting"/>
 
 </listeners>
 	<test name="inetbankingchrome">
 		<parameter name="browser" value= "chrome" />
 		<classes>
 			<class name="com.inetbanking.Testcases.TC_Login_001" />
 			<class name="com.inetbanking.Testcases.TC_createcustomer_002" />
 		</classes>
 	</test>
</suite>